.table-root {
    max-width: 100%;
    font-size: 1.5rem;
    --dark: #444444;
}

.flex {
    display: flex;
}

.table-heading {
    text-align: center;
    margin: 20px 0;
}

.justify-between {
    justify-content: space-between;
}

.table-root {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .table-root {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .table-root {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .table-root {
        width: 1170px;
    }
}

.search-bar {
    padding: 6px;
    font-size: 1.6rem;
    border: 2px solid var(--dark);
    border-radius: 10px;
    width: 40%;
    min-width: 300px;
}

.add-product-btn {
    border: 2px solid var(--dark);
    border-radius: 10px;
    background: transparent;
    font-size: 1.3rem;
    padding: 12px;
    transition: 50ms background linear;

}

.add-product-btn:hover {
    background-color: #EEEEEE;
}

.add-product-btn:active {
    background-color: #999999;
}

.table-rows {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid var(--dark);
    position: relative;
}

.column:last-of-type {
    border: none;
}

.column-lg {
    width: 40%;
    justify-content: space-between;
    padding: 0 30px;
}

.column-md {
    width: 32%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.column-sm {
    width: 28%;
}

.row {
    display: flex;
    border-bottom: 2px solid var(--dark);
    border-left: 2px solid var(--dark);
    border-right: 2px solid var(--dark);
    height: 80px;
}

.row:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid var(--dark);
}

.row:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-name {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: black;
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 1.5rem;
    height: 100%;
    cursor: pointer;
    transition: 50ms color linear;
}

.product-name:hover {
    color: blue;
}

.product-count {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: white;
    text-align: center;
}

.filter-btn {
    position: absolute;
    right: 20px;
    border: none;
    background-color: transparent;
    top: 0;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0 0 0;
}

.mutate-btn {
    background-color: transparent;
    padding: 15px 0;
    border: 2px solid var(--dark);
    border-radius: 10px;
    width: 40%;
    font-size: 1.1rem;
    transition: 50ms background linear;
}

.mutate-btn:hover {
    background-color: #EEEEEE;
}

.mutate-btn:active {
    background-color: #999999;
}